In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from tsfresh import extract_features
plt.style.use('seaborn')

import numpy as np
import datetime
plt.rcParams['figure.dpi'] = 120
plt.rcParams['figure.figsize'] = (12, 5)

In [2]:
# Загружаем DataFrame

In [3]:
df = pd.read_csv('daily-min-temperatures.csv')
df

            Date  Temp
0     1981-01-01  20.7
1     1981-01-02  17.9
2     1981-01-03  18.8
3     1981-01-04  14.6
4     1981-01-05  15.8
...          ...   ...
3645  1990-12-27  14.0
3646  1990-12-28  13.6
3647  1990-12-29  13.5
3648  1990-12-30  15.7
3649  1990-12-31  13.0

[3650 rows x 2 columns]

In [6]:
df.columns = ['date', 'temp']

In [7]:
df

            date  temp
0     1981-01-01  20.7
1     1981-01-02  17.9
2     1981-01-03  18.8
3     1981-01-04  14.6
4     1981-01-05  15.8
...          ...   ...
3645  1990-12-27  14.0
3646  1990-12-28  13.6
3647  1990-12-29  13.5
3648  1990-12-30  15.7
3649  1990-12-31  13.0

[3650 rows x 2 columns]

In [ ]:
df_extract = extract_features(df, column_id='date', n_jobs=4)

Feature Extraction:  20%|██        | 4/20 [00:21<01:58,  7.38s/it]